POSTGRES_HOST=127.0.0.1
MAIN_DB=kickstarter
POSTGRES_USER=admin
POSTGRES_PASSWORD=development
POSTGRES_PORT=5432
DB_CONNECTION=postgresql
DB_URL="$DB_CONNECTION://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$MAIN_DB"

PORT=3000